@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;

  line-height: 1.5;
  background: radial-gradient(#280a48, #20043d);

  font-synthesis: none;
  text-rendering: optimizeLegibility;

  -webkit-font-smoothing: antialiased;
  -webkit-osx-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  min-height: 80rem;
}

main {
  width: 90%;
  max-width: 50rem;
  margin: auto;
}

#products-info, #users-data {
  padding: 2rem;
  border-radius: 6px;
  background-color: #140524;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
}

main h2 {
  text-align: center;
  margin: 0 0 1.5rem 0;
  color: #a18aba;
}

#products-info ul, #users-data ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}

#products-info li, #users-data li {
  width: 10rem;
  text-align: center;
  color: #fff;
}

#products-info li img, #users-data li img {
  height: 4rem;
  width: 6rem;
  object-fit: cover;
}


#products-info li h3, #users-data li h3 {
  margin: 0.5rem 0;
}

#products-info li p, #users-data li p {
  font-size: 0.9rem;
}

#examples {
  margin: 3rem auto;
}

#examples h2 {
  text-align: left;
}

#examples menu {
  margin: 1rem 0;
  padding: 0;
  display: flex;
  gap: 0.5rem;
  list-style: none;
}

#examples menu button {
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 6px;
  background-color: transparent;
  color: #a18aba;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

#examples menu button:hover {
  background-color: #1b028f;
  color: #ebe7ef;
}


#examples menu button.active {
  background-color: #7925d3;
  color: #ebe7ef;
}

#tab-content, #user-content {
  padding: 1rem;
  border-radius: 6px;
  background-color: #2f1d43;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
  color: #fff;
}

#tab-content h3, #user-content h3 {
  margin: 0;
}

#tab-content code {
  font-size: 1rem;
}